<div class="card_container parent">
   <div class="deck_title">
    <div class="card_count"><%= icon('stack') %>
    <span><%= current_game.deck.title %></span>
  </div>
  <div class="card">
    <span class="card_title"><%= @card.question %></span>
    <form id="submit_guess" action="/deck/<%= @card.deck_id %>/<%= @card.id %>" method="POST">
      <p><input class="guess_input" id="guess" type="text" name="guess"></p>
      <p><input class="submit" type="submit" value="Did I get it right?"></p>
    </form>
  </div>
  <div id="embedded_answer" hidden><%= @card.answer.downcase %></div>
</div>
