<div class="logo">
  <div class="logo_image">
    <%= image('rubber_duck_flip.svg') %>
  </div>
  <div class="logo_text">
    <a href='/'>Deck, Deck, Goose!</a>
  </div>
</div>

<% if logged_in? %>
  <div class="form">
    <form action="/logout" method="POST">
      <div class="user"><a class="link" href="/user"><%= current_user.name %></a></div>
      <div class="button">
        <a href="/logout">
          <div class="icon">
          <%= icon('exit') %>
        </div>
        </a>
        <!-- <input type="submit" value="Log out"> -->
      </div>
    </form>
  </div>
<% else %>

<div class="form">

<div class="login_error" >
    <% if session[:error] %>
      <%= session[:error] %>
      <% session[:error]='' %>
    <% end %>
</div>  

  <form action="/login" method="POST">
    <div class="icon"><%= icon('envelop') %></div>
    <div class="field">
      
      <input id="f-email" type="email" id="email" placeholder="email" name="user[email]">
    </div>
    <div class="icon"><%= icon('key') %></div>
    <div class="field">
      
      
      <input class="password" id="f-password" type="password" id="password" placeholder="password" name="user[password]">
    </div>

    <div class="button">
      <input type="submit" value="Log in">
    </div>
  
  </form>
</div>
<% end %>


         
