<div class="game_container">
  <div class="card_container parent">
    <div class="deck_title">
      <div class="card_count"><%= icon('checkmark2') %>
        <span>HONK! Deck Complete!</span>
      </div>
  </div>
  <div class="temptest">


    <div class="stats">
      
      <table class="tb_stats">
    <tr>
      <td><%= icon('stopwatch') %></td>
      <td class="stat">0<span>h </span>1<span>m </span>25<span>s</span></td>
      <td class="title">Time played</td>
    </tr>
    <tr>
      <td><%= icon('checkmark2') %></td>
      <td class="stat"><%= last_game_correct_answers %></td>
      <td class="title">Correct answers</td>
    </tr>
    <tr>
      <td><%= icon('cancel-circle') %></td>
      <td class="stat"><%= last_game_incorrect_answers %></td>
      <td class="title">Incorrect answers</td>
    </tr>
  </table>


    </div>



  </div>
  

  <div class="game_nav_container">
    <div class="submit_container">
      <a href="/">
        <div class="nav_left icon float_left"><%= icon('home3') %></div>
      </a>
    </div>


    <div class="submit_container">
      <a href="/deck/<%= @last_deck_id %>">
        <div class="nav_right icon float_right"><%= icon('loop3') %></div>
      </a>
    </div>

    <div class="status_bar">
      <div class="current_position" style="width: 99%;">
      </div>
    </div>
  </div>
</div>



