<link rel="stylesheet" href="/css/status_bar.css">

<div class="game_container">
  <div class="deck_title">
    <h2>Deck: <%= current_game.deck.title %></h2>
  </div>
  <%= erb :_card, layout: false %>
  
  <%# if session[:last_guess_correct] %>
    <div id="correct_banner" class="correct banner" hidden>
      <h3>Goose! You're on it!</h3>
    </div>
  <% #elsif session[:last_guess_correct] == false %>
    <div id="incorrect_banner" class="incorrect banner" hidden>
      <h3>Quack! That's not quite right...</h3>
    </div>
  <%# end %>


  <div class="game_nav_container">
    <div class="status_bar">
      <div class="current_position" style="width: <%= current_card_position.to_f / current_game.deck.cards.count * 100 %>%;">
      </div>

    </div>
              <div class="counter"> 
          <p>Card <%= current_card_position %> of <%= current_game.deck.cards.count %></p>
          </div>
    <div class="submit_container">
      <% if prev_game_card_id %>
      <form action="/deck/<%= @game.deck.id %>/<%= prev_game_card_id %>" method="get">
        <input class="nav_button" type="submit" value="< Previous Card">
      </form>
      <% end %>
    </div>
    <div class="submit_container">
      <% if next_game_card_id %>
      <form action="/deck/<%= @game.deck.id %>/<%= next_game_card_id %>">
        <input class="nav_button" type="submit" value="Skip this card >">
      </form>
      <% end %>
    </div>
  </div>

<!--   <div class="card_counter">
    <h4>Card <%= %> of <%= %></h4>
  </div> -->

</div>