<div class="game_container">
 
  <%= erb :_card, layout: false %>
  
  <%# if session[:last_guess_correct] %>
    <div id="correct_banner" class="correct banner" hidden>
      <h3>Goose! You're on it!</h3>
    </div>
  <% #elsif session[:last_guess_correct] == false %>
    <div id="incorrect_banner" class="incorrect banner" hidden>
      <h3>Quack! That's not quite right...</h3>
    </div>
  <%# end %>


  <div class="game_nav_container">

    <div class="submit_container">
      <% if prev_game_card_id %>
        <a href="/deck/<%= @game.deck.id %>/<%= prev_game_card_id %>">
          <div class="nav_left icon float_left"><%= icon('arrow-left2') %> </div>
        </a>
      <% end %>
    </div>
       
    <div class="submit_container">
      <% if next_game_card_id %>
        <a href="/deck/<%= @game.deck.id %>/<%= next_game_card_id %>">
          <div class="nav_right icon float_right"><%= icon('arrow-right2') %></div>
        </a>
      <% end %>
    </div>

    <div class="counter"> 
      <span><%= current_card_position + 1 %> of <%= current_game.deck.cards.count %></span>
    </div>

    
    <div class="status_bar">
      <div class="current_position" style="width: <%= current_card_position.to_f / current_game.deck.cards.count * 100 %>%;">
      </div>
    </div>

  </div>

<!--   <div class="card_counter">
    <h4>Card <%= %> of <%= %></h4>
  </div> -->

</div>
