<div>
  <h1>Let's Play!</h1>
</div>

<% if @game %>
<div class="resume">
<!-- resume button / css attirbute active or hidden -->
  <p><a href="/deck/<%= current_game.deck_id %>/<%= current_game.current_card %>">Resume</a></p>
  <!-- conditional button with hyperlink to game in progress  -->
</div>
<% end %>

<div class="stats">
  <p>Deck stats</p>
  <!-- erb _deck_stats -->
</div>

<div class="decks">
  <p>Choose Your Deck!</p>
  <% @decks.all.each do |deck| %>
    <h3><%= deck.title %></h3>
    <a href="/deck/<%= deck.id %>"><img id="deck<%=deck.id%>" src="css/world_caps.jpg"></a>
    <p>Number of cards: <%= deck.cards.count %></p>
    <p>Number of attempts: <%= deck.games.count %></p>
  <% end %>
</div>