<div>
  <h2>Choose your Deck!</h2>
</div>



<div class="three_fourth">

<% if @game %>
<div class="resume">
<!-- resume button / css attirbute active or hidden -->
  <p><a href="/deck/<%= current_game.deck_id %>/<%= current_game.current_card %>">Resume Game</a></p>
  <!-- conditional button with hyperlink to game in progress  -->
</div>
<% end %>

<!-- <div class="stats">
  <p>Deck stats</p>
  <!-- erb _deck_stats -->
<!-- </div>  -->

<div class="decks">
<!--   <p>Choose Your Deck!</p> -->
  <% @decks = Deck.all %>
  <% @decks.all.each do |deck| %>
    <a href="/deck/<%= deck.id %>">
      <div class="deck">
      
        <div>
          <img id="deck" src="<%= deck.image_url %>">
        </div>

        <div class="title">
          <%= deck.title %>
        </div>

        <div class="card_count">
          <%= icon('stack') %>
          <span><%= deck.cards.count %></span>
        </div>
  
      <!-- <p>Number of attempts: <%= deck.games.count %></p> -->
      </div>
    </a>

    <div class="deck_back ">
      

    </div>


  <% end %>
</div>

</div>

<div class="one_fourth float_right">
  <span><%= erb :'icons/bars' %> User stats</span>
  <ul>
    <li>Players Total: <%= total_number_players %></li>
    <li>Games Played: <%= total_games_played %></li>
    <li>Correct Responses: <%= @user.number_of_correct_guesses %></li>
    <li>Incorrect Responses: <%= @user.number_of_incorrect_guesses %></li> 
  </ul>
  <p>
</div>
