<div>
  <h2>Choose your Deck!</h2>
</div>

<div class="home">

<div class="three_fourth">

  <div class="decks">
  
  <% if @game %>
  <div class="flip-container resume_game">

    <div class="deck front">

      <div class="resume"><%= icon('forward2') %></div>

        <a class="resume_link_fix" href="/deck/<%= current_game.deck_id %>/<%= current_game.current_card %>">
          

        <!-- resume button / css attirbute active or hidden -->
          <p>Resume Deck: <%= @game.deck.title %></p>
          <!-- conditional button with hyperlink to game in progress  -->
            </a>
      
      </div>
    </div>
  <% end %>

  

  <!--   <p>Choose Your Deck!</p> -->
    <% @decks = Deck.all %>
    <% @decks.all.each do |deck| %>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="deck front">
          <a href="/deck/<%= deck.id %>">
            <div> <img id="deck" src="<%= deck.image_url %>"> </div>
            <div class="overlay"><div class="play "><%= icon('play2') %></div></div>
            
            </a>

            <div class="title"><%= deck.title %></div>
            
            
            <div class="card_count"><%= icon('stack') %>
              <span><%= deck.cards.count %></span>
            </div>

           
          <!-- <p>Number of attempts: <%= deck.games.count %></p> -->
          </div>
        

        <div class="deck back">

          This game has been played 45 times.
          32 times every question was answerd correctly.
        

        </div>

      </div>
    </div>
    <% end %>
  </div>

</div>

<div class="stats one_fourth float_right">
  <span class="title"><%= erb :'icons/bars' %> User stats</span>
  <table class="tb_stats">
    <tr>
      <td><%= icon('stack') %></td>
      <td class="stat"><%= @user.games.count %></td>
      <td class="title">Decks played</td>
    </tr>
    <tr>
      <td><%= icon('stopwatch') %></td>
      <td class="stat">0<span>h </span>32<span>m </span>25<span>s</span></td>
      <td class="title">Time played</td>
    </tr>
    <tr>
      <td><%= icon('checkmark2') %></td>
      <td class="stat"><%= @user.number_of_correct_guesses %></td>
      <td class="title">Correct answers</td>
    </tr>
    <tr>
      <td><%= icon('cancel-circle') %></td>
      <td class="stat"><%= @user.number_of_incorrect_guesses %></td>
      <td class="title">Incorrect answers</td>
    </tr>
  </table>
</div>




</div>
