<div>
  <h2>Choose your Deck!</h2>
</div>

<div class="home">

<div class="three_fourth">

  <div class="decks">
  
  <% @games = @user.games.where("complete IS FALSE") %>

  <% @games.each do |game| %>
  
  <div class="flip-container resume_game">
    <div class="flipper">
    <div class="deck front">
      
      <a class="resume_link_fix" href="/deck/<%= game.deck_id %>">
      <div> <img id="deck" src="<%= game.deck.image_url %>"></div>
      <div class="overlay"><div class="resume"><%= icon('history') %></div></div>
      </a>
      
      <div class="title"><%= game.deck.title %></div>
      
      <div class="spin"><%= icon('loop2') %></div>
      <div class="card_count resume_text">
        <span>Resume</span>
      </div>

      </div>
    </div>
    </div>
  <% end %>

  

  <!--   <p>Choose Your Deck!</p> -->
    <% @decks = games_not_started %>
    <% #  @decks.delete_if { |deck| deck.id == @game.deck.id} if @game %>
    <% @decks.each do |deck| %>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="deck front ">
          <a href="/deck/<%= deck.id %>">
            <div> <img id="deck" src="<%= deck.image_url %>"> </div>
            <div class="overlay"><div class="play "><%= icon('play2') %></div></div>  
          </a>

          <div class="title"><%= deck.title %></div>
                
          <div class="card_count"><%= icon('stack') %>
            <span><%= deck.cards.count %></span>
          </div>

          </div>

      </div>
    </div>
    <% end %>
  </div>

</div>

<div class="stats one_fourth float_right">
  <span class="title"><%= erb :'icons/bars' %> User stats</span>
  <table class="tb_stats">
    <tr>
      <td><%= icon('stack') %></td>
      <td class="stat"><%= @user.games.count %></td>
      <td class="title">Decks played</td>
    </tr>
    <tr>
      <td><%= icon('stopwatch') %></td>
      <td class="stat">0<span>h </span>32<span>m </span>25<span>s</span></td>
      <td class="title">Time played</td>
    </tr>
    <tr>
      <td><%= icon('checkmark2') %></td>
      <td class="stat"><%= @user.number_of_correct_guesses %></td>
      <td class="title">Correct answers</td>
    </tr>
    <tr>
      <td><%= icon('cancel-circle') %></td>
      <td class="stat"><%= @user.number_of_incorrect_guesses %></td>
      <td class="title">Incorrect answers</td>
    </tr>
  </table>
</div>




</div>
