<div>
  <h2>Choose your Deck!</h2>
</div>



<div class="three_fourth">

<% if @game %>
<div class="resume">
<!-- resume button / css attirbute active or hidden -->
  <p><a href="/deck/<%= current_game.deck_id %>/<%= current_game.current_card %>">Resume Game</a></p>
  <!-- conditional button with hyperlink to game in progress  -->
</div>
<% end %>

<!-- <div class="stats">
  <p>Deck stats</p>
  <!-- erb _deck_stats -->
<!-- </div>  -->

<div class="decks">
<!--   <p>Choose Your Deck!</p> -->
  <% @decks = Deck.all %>
  <% @decks.all.each do |deck| %>
    <div class="deck">
       <div>
        <a href="/deck/<%= deck.id %>"><img id="deck" src="css/world_caps.jpg"></a>
      </div>
      <div class="title">
        <%= deck.title %>
      </div>
      <div class="card_count">
        <%= icon('stack') %>
        <span><%= deck.cards.count %></span>
      </div>
     

      
      

<!--       <p>Number of cards: <%= deck.cards.count %></p>
      <p>Number of attempts: <%= deck.games.count %></p> -->

    </div>
  <% end %>
</div>

</div>

<div class="one_fourth float_right">
  <span><%= erb :'icons/bars' %> User stats</span>
  <ul>
    <li>Players Total:<%= User.all.count %></li>
    <li>Current Game Start Time: <%= @current_game[:start_time] %></li>
  </ul>
  <p>
</div>
